.caja-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #23d1d2;
  padding: 30px;
  margin: 20px 0;
  font-size: 25px;
  line-height: 30px;
  border: 20px solid #fff;
  color: #fff;
}
.caja-popup > * {
  color: #fff;
}
.caja-popup p {
  font-size: 25px;
  line-height: 30px;
}
.txtOverIMG_thumbnail {
  position: relative;
}
.txtOverIMG_caption {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
.txtOverIMG_caption > * {
  color: #fff;
}
.blink1 {
  animation: blinker1 0.6s linear infinite;
  color: #1c87c9;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
@keyframes blinker1 {
  50% {
    opacity: 0;
  }
}
.blink2 {
  animation: blinker2 1s linear infinite;
}
@keyframes blinker2 {
  0% {
    opacity: 0;
  }
}
.blink3 {
  animation: blinker3 1.4s linear infinite;
}
@keyframes blinker3 {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes smoothBounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@-moz-keyframes smoothBounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes smoothBounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
.caja-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  font-size: 30px;
  line-height: 1;
  color: #009090;
  border: 20px solid #009090;
}
.caja-popup > * {
  color: #009090;
}
.caja-popup-bis {
  display: none;
}
.spinner-gif {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99999;
}
.spinner-gif > * {
  color: #fff;
}
.spinner-gif img {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99999;
}
.spinner-gif img > * {
  color: #fff;
}
.btn-primary {
  background-color: #23d1d2;
  border-color: #23d1d2;
}
.btn-primary:hover {
  background-color: #009090;
  border-color: #009090;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.displayInlineBlock {
  display: inline-block;
}
.displayFlex {
  display: flex;
}
.positionRelative {
  position: relative;
}
.positionAbsolute {
  position: absolute;
}
.positionFixed {
  position: fixed;
}
.positionInitial {
  position: initial;
}
.floatLeft {
  float: left;
}
.floatright {
  float: right;
}
.floatNone {
  float: none;
}
.colorRed {
  color: red;
}
.colorWhite {
  color: white;
}
.colorBlack {
  color: black;
}
.colorBlue {
  color: blue;
}
.colorGreen {
  color: green;
}
.bg-danger {
  background-color: red;
  color: white;
}
.bg-danger > * {
  color: white;
}
.bg-success {
  background-color: green;
  color: white;
}
.bg-success > * {
  color: white;
}
.width10 {
  width: 10%;
}
.width20 {
  width: 20%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width50 {
  width: 50%;
}
.width60 {
  width: 60%;
}
.width70 {
  width: 70%;
}
.width80 {
  width: 80%;
}
.width90 {
  width: 90%;
}
.width100 {
  width: 100%;
}
.height10 {
  height: 10px;
}
.height20 {
  height: 20px;
}
.height30 {
  height: 30px;
}
.height40 {
  height: 40px;
}
.height50 {
  height: 50px;
}
.height60 {
  height: 60px;
}
.height70 {
  height: 70px;
}
.height80 {
  height: 80px;
}
.height90 {
  height: 90px;
}
.height100 {
  height: 100px;
}
.padding1 {
  padding: 1px;
}
.padding2 {
  padding: 2px;
}
.padding3 {
  padding: 3px;
}
.padding4 {
  padding: 4px;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding20 {
  padding: 20px;
}
.padding30 {
  padding: 30px;
}
.padding40 {
  padding: 40px;
}
.padding50 {
  padding: 50px;
}
.margin1 {
  margin: 1px;
}
.margin2 {
  margin: 2px;
}
.margin3 {
  margin: 3px;
}
.margin4 {
  margin: 4px;
}
.margin5 {
  margin: 5px;
}
.margin10 {
  margin: 10px;
}
.margin20 {
  margin: 20px;
}
.margin30 {
  margin: 30px;
}
.margin40 {
  margin: 40px;
}
.margin50 {
  margin: 50px;
}
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  margin: 20px 0;
}
.form-popup > * {
  color: #009090;
}
.form-popup form {
  background: #000;
  color: white;
  padding: 40px;
  width: 50%;
  margin: auto;
}
.form-popup form input {
  color: #000;
}
.contenedor {
  max-width: 1140px;
  margin: auto;
}
.fila {
  display: flex;
  flex-wrap: wrap;
}
div[class^="columna"] {
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(0, 0, 255, 0.15);
  border: 1px solid rgba(0, 0, 255, 0.3);
}
@media screen and (min-width: 768px) {
  /*
	Las siguientes clases ocupan la línea "flex: 0 0 auto". Significado:
		0 		- 	flex-grow. 		Si hay espacio extra, la etiqueta no se expandirá para llenarlo.
		0		- 	flex-shrink.	La etiqueta no se encogerá si el espacio disponible es menor al tamaño natural del elemento.
		auto 	- 	flex-basis.		Tamaño inicial de la etiqueta. El valor auto quiere decir que el tamaño se determinará de acuerdo al contenido del elemento.
*/
  .columna-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .columna-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .columna-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .columna-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .columna-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .columna-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .columna-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .columna-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .columna-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .columna-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .columna-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .columna-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
